                                                                    html,
                                                                body,
                                                                .container-fluid {
                                                                    height: 100%;
                                                                }
                                                                
                                                                html,
                                                                body {
                                                                    background-image: url(sfondo5.png);
                                                                }
                                                                
                                                                header .container-fluid {
                                                                    background-color: white;
                                                                    height: 80px;
                                                                    border: #bbb;
                                                                }
                                                                
                                                                header ul li ul {
                                                                    position: absolute;
                                                                    top: 66%;
                                                                    right: 0%;
                                                                    width: 180px;
                                                                    display: none;
                                                                }
                                                                
                                                                header ul {
                                                                    position: relative;
                                                                    float: right;
                                                                }
                                                                
                                                                header ul li {
                                                                    float: left;
                                                                    position: relative;
                                                                }
                                                                
                                                                .navbar-custom .navbar-brand,
                                                                .navbar-custom .navbar-text {
                                                                    color: rgb(228, 226, 226);
                                                                }
                                                                
                                                                header * {
                                                                    color: black;
                                                                }
                                                                
                                                                @font-face {
                                                                    font-family: 'Impact';
                                                                }
                                                                
                                                                body {
                                                                    margin: 0;
                                                                }
                                                                
                                                                .imageslide {
                                                                    display: none;
                                                                }
                                                                
                                                                figure {
                                                                    margin: 0;
                                                                }
                                                                
                                                                img {
                                                                    width: 100%;
                                                                    height: auto;
                                                                }
                                                                
                                                                .prev,
                                                                .next {
                                                                    cursor: pointer;
                                                                    position: absolute;
                                                                    top: 35%;
                                                                    width: auto;
                                                                    padding: 18px;
                                                                    color: #d2d2d2;
                                                                    font-size: 60px;
                                                                    opacity: 0.7;
                                                                }
                                                                
                                                                .next {
                                                                    right: 4px;
                                                                }
                                                                
                                                                .pulsanti {
                                                                    width: 100%;
                                                                    position: absolute;
                                                                    height: 20px;
                                                                }
                                                                
                                                                .dot {
                                                                    cursor: pointer;
                                                                    height: 18px;
                                                                    width: 18px;
                                                                    margin: 8px;
                                                                    background-color: #ccc;
                                                                    border-radius: 50%;
                                                                    display: inline-block;
                                                                }
                                                                
                                                                .grigio {
                                                                    background-color: #1c1818;
                                                                    opacity: 0.8;
                                                                }
                                                                
                                                                @media (min-width: 768px) and (max-width: 1024px) {
                                                                    .prev,
                                                                    .next {
                                                                        top: 20%;
                                                                        width: auto;
                                                                        font-size: 50px;
                                                                    }
                                                                }
                                                                
                                                                @media (min-width: 481px) and (max-width: 767px) {
                                                                    .prev,
                                                                    .next {
                                                                        top: 10%;
                                                                        width: auto;
                                                                        font-size: 40px;
                                                                    }
                                                                }
                                                                
                                                                @media (max-width: 480px) {
                                                                    .prev,
                                                                    .next {
                                                                        top: 4%;
                                                                        width: auto;
                                                                        padding: 6px;
                                                                        font-size: 40px;
                                                                    }
                                                                    .dot {
                                                                        height: 12px;
                                                                        width: 12px;
                                                                        margin: 5px;
                                                                    }
                                                                }
                                                                
                                                                html,
                                                                body,
                                                                #wrap {
                                                                    height: 100%;
                                                                }
                                                                
                                                                body>#wrap {
                                                                    height: auto;
                                                                    min-height: 100%;
                                                                }
                                                                
                                                                #main {
                                                                    padding-bottom: 150px;
                                                                }
                                                                
                                                                #footer {
                                                                    position: relative;
                                                                    margin-top: -150px;
                                                                    height: 150px;
                                                                    clear: both;
                                                                }
                                                                
                                                                .site-footer {
                                                                    background-color: rgb(161, 214, 238);
                                                                    padding: 40px 0 20px;
                                                                    font-size: 15px;
                                                                    line-height: 24px;
                                                                    color: #737373;
                                                                }
                                                                
                                                                .site-footer hr {
                                                                    border-top-color: #bbb;
                                                                    opacity: 0.5
                                                                }
                                                                
                                                                .site-footer hr.small {
                                                                    margin: 20px 0
                                                                }
                                                                
                                                                .site-footer h6 {
                                                                    color: black;
                                                                    font-size: 20px;
                                                                    text-transform: uppercase;
                                                                    margin-top: 5px;
                                                                    letter-spacing: 2px
                                                                }
                                                                
                                                                .site-footer a {
                                                                    color: black;
                                                                }
                                                                
                                                                .site-footer a:hover {
                                                                    color: #3366cc;
                                                                    text-decoration: none;
                                                                }
                                                                
                                                                .footer-links {
                                                                    padding-left: 0;
                                                                    list-style: none
                                                                }
                                                                
                                                                .footer-links li {
                                                                    display: block
                                                                }
                                                                
                                                                .footer-links a {
                                                                    color: #737373
                                                                }
                                                                
                                                                .footer-links a:active,
                                                                .footer-links a:focus,
                                                                .footer-links a:hover {
                                                                    color: #3366cc;
                                                                    text-decoration: none;
                                                                }
                                                                
                                                                .footer-links.inline li {
                                                                    display: inline-block
                                                                }
                                                                
                                                                .site-footer .social-icons {
                                                                    text-align: right
                                                                }
                                                                
                                                                .site-footer .social-icons a {
                                                                    width: 40px;
                                                                    height: 40px;
                                                                    line-height: 40px;
                                                                    margin-left: 6px;
                                                                    margin-right: 0;
                                                                    border-radius: 100%;
                                                                    background-color: #33353d
                                                                }
                                                                
                                                                .copyright-text {
                                                                    margin: 0
                                                                }
                                                                
                                                                @media (max-width:991px) {
                                                                    .site-footer [class^=col-] {
                                                                        margin-bottom: 30px
                                                                    }
                                                                }
                                                                
                                                                @media (max-width:767px) {
                                                                    .site-footer {
                                                                        padding-bottom: 0
                                                                    }
                                                                    .site-footer .copyright-text,
                                                                    .site-footer .social-icons {
                                                                        text-align: center
                                                                    }
                                                                }
                                                                
                                                                .social-icons {
                                                                    padding-left: 0;
                                                                    margin-bottom: 0;
                                                                    list-style: none
                                                                }
                                                                
                                                                .social-icons li {
                                                                    display: inline-block;
                                                                    margin-bottom: 4px
                                                                }
                                                                
                                                                .social-icons li.title {
                                                                    margin-right: 30px;
                                                                    text-transform: uppercase;
                                                                    color: #96a2b2;
                                                                    font-weight: 700;
                                                                    font-size: 13px
                                                                }
                                                                
                                                                .social-icons a {
                                                                    background-color: #eceeef;
                                                                    color: #818a91;
                                                                    font-size: 16px;
                                                                    display: inline-block;
                                                                    line-height: 44px;
                                                                    width: 44px;
                                                                    height: 44px;
                                                                    text-align: center;
                                                                    margin-right: 8px;
                                                                    border-radius: 100%;
                                                                    -webkit-transition: all .2s linear;
                                                                    -o-transition: all .2s linear;
                                                                    transition: all .2s linear
                                                                }
                                                                
                                                                .social-icons a:active,
                                                                .social-icons a:focus,
                                                                .social-icons a:hover {
                                                                    color: #fff;
                                                                    background-color: #29aafe
                                                                }
                                                                
                                                                .social-icons.size-sm a {
                                                                    line-height: 34px;
                                                                    height: 34px;
                                                                    width: 34px;
                                                                    font-size: 14px
                                                                }
                                                                
                                                                .social-icons a.facebook:hover {
                                                                    background-color: #3b5998
                                                                }
                                                                
                                                                .social-icons a.twitter:hover {
                                                                    background-color: #00aced
                                                                }
                                                                
                                                                .social-icons a.linkedin:hover {
                                                                    background-color: #007bb6
                                                                }
                                                                
                                                                .social-icons a.dribbble:hover {
                                                                    background-color: #ea4c89
                                                                }
                                                                
                                                                @media (max-width:767px) {
                                                                    .social-icons li.title {
                                                                        display: block;
                                                                        margin-right: 0;
                                                                        font-weight: 600
                                                                    }
                                                                    * {
                                                                        box-sizing: border-box
                                                                    }
                                                                    @import url('https://fonts.googleapis.com/css?family=Numans');
                                                                    html,
                                                                    body {
                                                                        background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
                                                                        background-size: cover;
                                                                        background-repeat: no-repeat;
                                                                        height: 100%;
                                                                        font-family: 'Numans', sans-serif;
                                                                    }
                                                                    .container {
                                                                        height: 100%;
                                                                        align-content: center;
                                                                    }
                                                                    .card {
                                                                        height: 370px;
                                                                        margin-top: auto;
                                                                        margin-bottom: auto;
                                                                        width: 400px;
                                                                        background-color: rgba(0, 0, 0, 0.5) !important;
                                                                    }
                                                                    .social_icon span {
                                                                        font-size: 60px;
                                                                        margin-left: 10px;
                                                                        color: #FFC312;
                                                                    }
                                                                    .social_icon span:hover {
                                                                        color: white;
                                                                        cursor: pointer;
                                                                    }
                                                                    .card-header h3 {
                                                                        color: white;
                                                                    }
                                                                    .social_icon {
                                                                        position: absolute;
                                                                        right: 20px;
                                                                        top: -45px;
                                                                    }
                                                                    .input-group-prepend span {
                                                                        width: 50px;
                                                                        background-color: #FFC312;
                                                                        color: black;
                                                                        border: 0 !important;
                                                                    }
                                                                    input:focus {
                                                                        outline: 0 0 0 0 !important;
                                                                        box-shadow: 0 0 0 0 !important;
                                                                    }
                                                                    .remember {
                                                                        color: white;
                                                                    }
                                                                    .remember input {
                                                                        width: 20px;
                                                                        height: 20px;
                                                                        margin-left: 15px;
                                                                        margin-right: 5px;
                                                                    }
                                                                    .login_btn {
                                                                        color: black;
                                                                        background-color: #FFC312;
                                                                        width: 100px;
                                                                    }
                                                                    .login_btn:hover {
                                                                        color: black;
                                                                        background-color: white;
                                                                    }
                                                                    .links {
                                                                        color: white;
                                                                    }
                                                                    .links a {
                                                                        margin-left: 4px;
                                                                    }