body{
    background-image:url(sfondo3.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
}

.bg__card__navbar{
	background-color: #000000;
}
#add__new__art{
    top: -38px;
    right: 0px;
}
.table table-hover{
  background-color: white;
}
